<template>
  <div class="content">
    <button class="one-color" @click="clickButton" :style="{backgroundColor : this.setColor}">
      <slot></slot>
    </button>
  </div>

</template>

<script>
export default {
  props: {
    size: Array,
    colorProp: String,
  },
  methods: {
    clickButton() {
      this.$emit('buttonClick', this.size);
    },
  },
  computed: {
    setColor() {
      return this.colorProp;
    },
  },
};
</script>

<style lang="scss" scoped>
.one-color {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: grey;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
</style>
