<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<template>
    <div class="modal" @click="$emit('closeModal')">
        <div @click.stop class="modal__content">
            <img :src="info.image" alt="image" class="modal__image">
            <p class="modal__title">{{ info.title }}</p>
            <p class="modal__price">{{ info.price }}$</p>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    info: Object,
  },
};
</script>

<style>
</style>
