<!-- eslint-disable max-len -->
<template>
  <div class="select-container">
    <select @change="changeOption" name="select" class="select">
      <option disabled selected> {{this.name}} </option>
      <option v-for="oneOption in options" :key="oneOption.value" :value="oneOption.value">{{ oneOption.name }}</option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'TestSelect',
  props: {
    options: Array,
    name: String,
  },
  methods: {
    changeOption(event) {
      this.$emit('changeOption', event.target.value);
    },
  },

};
</script>

<style lang="scss" scoped>
.select {
  padding: 15px;
  border: 2px solid teal;
  border-radius: 10px;
  color: teal;
  font-weight: 700;
  font-size: 15px;
}
</style>
