<template>
  <button class="button-purple">
    <slot></slot>
  </button>
</template>

<script>
export default {

};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.button-purple {
  cursor: pointer;
  font-family: "Montserrat";
  background: #3c336c;
  border-radius: 60px;
  padding: 18px 43px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  color: white;
}
</style>
