<template>
  <button class="button-green">
    <slot></slot>
  </button>
</template>

<script>
export default {

};
</script>

<style lang="scss" scoped>
.button-green {
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  background-color: #309f85;
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  border-radius: 10px;
  transition: all 500ms ease 0s;
  &:hover {
    background-color: #4c6962;
  }
}
</style>
