<template>
    <input :value="modelValue" @input="updateValue" class="v-input">
</template>

<script>
export default {
  props: {
    modelValue: [String],
  },
  methods: {
    updateValue(event) {
      this.$emit('update:modelValue', event.target.value);
    },
  },
};
</script>

<style lang="scss" scoped>
.v-input {
  padding: 15px;
  border: 2px solid teal;
  border-radius: 10px;
  font-size: 15px;
  color: teal;

  &::placeholder {
    color: teal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
}
</style>
