<template>
    <div class="error">
        <p>Извините произошла ошибка</p>
        <router-link to="/">
            попробуйте перейти по данной ссылке
        </router-link>
    </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>
.error {
  transform: translateY(100%);
  text-align: center;
}
p {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 10px;
}
a {
  font-weight: 700;
  font-size: 1.2em;

  &:hover {
    color: teal;
  }
}
</style>
