<!-- eslint-disable max-len -->
<template>
    <div class="exp exp_margin">
        <div class="exp__container">
            <div class="exp__box">
                <div class="exp__image" :style="styledImage">
                    <img class="exp__source" :src="this.image" alt="hori" >
                </div>
                <div class="exp__settings">
                    <label for="transform">transform
                        <input
                        v-model="transform"
                        min="0" max="360"
                        type="range"
                        class="exp__input"
                        id="transform">
                    </label>
                    <label for="transform">ширина
                        <input
                        v-model="width"
                        min="100"
                        max="880"
                        type="range"
                        class="exp__input"
                        id="transform">
                    </label>
                    <label for="transform">высота
                        <input
                        v-model="height"
                        min="100"
                        max="450"
                        type="range"
                        class="exp__input"
                        id="transform">
                    </label>
                    <div class="exp__radio">
                      <label class="exp__label exp__box-shadow" for="boxShadow">
                          Тень
                          <input v-model="boxShadowValue" type="checkbox" class="exp__input exp__input_checkbox" id="boxShadow">
                      </label>
                      <label class="exp__label exp__border" for="border">
                          рамка
                          <input v-model="borderValue" type="checkbox" class="exp__input exp__input_checkbox" id="border">
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      image: 'https://wallpaperaccess.com/full/5652668.jpg',
      styles: {},
      transform: 0,
      boxShadowValue: false,
      borderValue: false,
      width: 500,
      height: 400,
    };
  },
  computed: {
    styledImage() {
      return {
        ...this.styles,
        transform: `rotate(${this.transform}deg)`,
        width: `${this.width}px`,
        height: `${this.height}px`,
      };
    },
  },
  watch: {
    boxShadowValue() {
      this.styles.boxShadow = this.boxShadowValue ? '10px 5px 5px #03a5fc' : 'none';
    },
    borderValue() {
      this.styles.border = this.borderValue ? '2px solid #4a4a3a' : 'none';
    },

  },
};
</script>

<style lang="scss" scoped>
.exp {
  &_margin {
    margin-top: 130px;
    padding: 0px 2px 0px 2px;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 35px;
    row-gap: 130px;
  }
  &__image {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
  }
  &__source {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__settings {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
  }

  &__label {
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
</style>
