<template>
    <div class="input-align">
        <VInput />
    </div>
    <CardsList :CardsArray="this.cards" />
</template>

<script>
import CardsList from '@/components/CardsList.vue';
import VInput from '@/UI/VInput.vue';
import axios from 'axios';

export default {
  data() {
    return {
      cards: [],
      page: 1,
      filterInput: '',

    };
  },
  methods: {},
  computed() {},
  created() {
    axios('https://fakestoreapi.com/products/category/jewelery').then((res) => { this.cards = [...res.data]; });
  },
  components: {
    CardsList,
    VInput,
  },
};
</script>

<style lang="scss" scoped>
.input-align {
  text-align: center;
}
</style>
