<!-- eslint-disable max-len -->

<template>
  <ModalWindow v-if="windowState" @closeModal="togleModal" :info="cardInformation" />
  <div v-if="this.loader" class="loader" />
  <div v-else class="wrapper">
    <div class="fitch">
      <div class="fitch__content">
        <test-select @changeOption="acceptChangeOption" :options="this.options" :name="'cортировать по '"/>
        <VInput v-model.trim="inputSearch" type="text" placeholder="filter input" />
        <test-select @changeOption="acceptChangeCategory" :name="'Категории'" :options="this.categories"></test-select>
      </div>
    </div>
   <CardsList :CardsArray="sortedbyCategory"/>
  </div>
</template>

<script>
import axios from 'axios';
import TestSelect from '../UI/TestSelect.vue';
import CardsList from '../components/CardsList.vue';
import VInput from '../UI/VInput.vue';
import ModalWindow from '../UI/ModalWindow.vue';

export default {
  data() {
    return {
      windowState: false,
      cardInformation: {},
      allCards: [],
      categories: [],
      options: [{ value: 'price', name: 'цена' }, { value: 'title', name: 'названию' }],
      loader: false,
      optionValue: '',
      categoryValue: '',
      inputSearch: '',
    };
  },
  methods: {
    acceptChangeOption(value) {
      this.optionValue = value;
    },
    acceptChangeCategory(value) {
      this.categoryValue = value;
    },
    getInfoAboutCard(infoAboutCard) {
      this.cardInformation = infoAboutCard;
      this.windowState = true;
    },
    togleModal() {
      this.windowState = false;
    },
  },
  watch: {
  },
  computed: {
    sortedByValue() {
      return [...this.allCards].sort((a, b) => a[this.optionValue] - b[this.optionValue]);
    },

    sortedBySearch() {
      // eslint-disable-next-line max-len
      return [...this.sortedByValue].filter((el) => el.title.toLowerCase().includes(this.inputSearch));
    },

    sortedbyCategory() {
      if (this.categoryValue) {
        return [...this.sortedBySearch].filter((el) => el.category === this.categoryValue);
      }
      return [...this.sortedBySearch];
    },
  },
  components: {
    TestSelect,
    CardsList,
    VInput,
    ModalWindow,
  },
  created() {
    const findCategory = () => {
      let result = this.allCards
        .map((el) => el.category);
      result = result.filter((el, index) => result.indexOf(el) === index).map((el) => ({
        value: el,
        name: el,
      }));
      this.categories = [...result];
    };
    const fetchData = async () => {
      this.loader = true;
      const responce = await axios.get('https://fakestoreapi.com/products');
      responce.data.forEach((element) => {
        // eslint-disable-next-line no-param-reassign
        element.availbleColor = {
          black: ['XS', 'L'], blue: ['XS', 'S', 'M', 'L', 'XL', 'XXL'], purple: ['M', 'L'], green: ['XL', 'XXL'],
        };
      });
      this.allCards = [...responce.data];
      this.loader = false;
      findCategory();
    };
    fetchData();
  },
};
</script>

<style>
</style>
