<!-- eslint-disable max-len -->
<template>
  <div class="input-container">
    <div class="fitcha">
      <div class="fitcha__content">
        <VInput type="text" v-model="filterInput" placeholder="filter"/>
        <div class="buttons">
          <VButtonPurple v-if="this.page>1" @click="this.page -= 1 " type="button">Назад</VButtonPurple>
          <VButtonPurple v-if="this.hasNextPage" @click="this.page += 1" type="button">Вперед</VButtonPurple>
        </div>
      </div>
    </div>
  </div>
  <CardsList :CardsArray="paginatedCards" />
</template>

<script>
import VButtonPurple from '@/UI/VButtonPurple.vue';
import CardsList from '@/components/CardsList.vue';
import VInput from '@/UI/VInput.vue';
import axios from 'axios';
import assignObject from '@/help/helpFunction';

export default {
  data() {
    return ({
      cards: [
        {
          category: "men's clothing",
          description: 'Your perfect pack for everyday use and walks in the forest.',
          id: 1,
          image: 'https://avatars.mds.yandex.net/get-altay/402558/2a0000015ee274d431a6e77c247cec5954a9/XXXL',
          price: 109.95,
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'L'],
            blue: ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
            purple: ['M', 'L'],
            green: ['XL', 'XXL'],
          },
        },
        {
          category: "men's clothing",
          description: ' to 15 inches) in the padded sleeve, your everyday',
          id: 2,
          image: 'https://avatars.mds.yandex.net/get-altay/1001354/2a0000016167e1c56a366cd1392334a81e1a/XXXL',
          price: 109.95,
          rating: { rate: 3.9, count: 120 },
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'M', 'L'],
            teal: ['S', 'M', 'XXL'],
            purple: ['M', 'L', 'XL'],
            grey: ['XL', 'XXL'],
          },
        },
        {
          category: "men's clothing",
          description: 'Your perfect pack for everyyour everyday',
          id: 3,
          image: 'https://avatars.mds.yandex.net/get-altay/934739/2a0000015ee272b7428f4c45f8e0c13c3b21/XXXL',
          price: 109.95,
          rating: { rate: 3.9, count: 120 },
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'L'],
            orange: ['XS', 'M', 'XL', 'XXL'],
            pink: ['XL', 'XXL'],
          },
        },
        {
          category: "men's clothing",
          description: 'Your perfect pack for everyday use and walks in the forest.',
          id: 4,
          image: 'https://ae04.alicdn.com/kf/Sfc63f6d9aedb4f6b9d3992dfb8d7e7e0C/2023.jpg_940x1240.jpg',
          price: 109.95,
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'L'],
            blue: ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
            pink: ['M', 'L'],
            green: ['XL', 'XXL'],
            brown: ['XS'],
          },
        },
        {
          category: "men's clothing",
          description: ' to 15 inches) in the padded sleeve, your everyday',
          id: 5,
          image: 'https://ae04.alicdn.com/kf/HTB1PNVyLXXXXXXSXpXXq6xXFXXXW/Korean-Style-Men-s-Solid-Color-Casual-Long-sleeved-Shirt-Slim-Fit-Man-Cloth-Shirts-Tops.jpg_840x1000.jpg',
          price: 109.95,
          rating: { rate: 3.9, count: 120 },
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'M', 'L'],
            teal: ['S', 'M', 'XXL'],
            pink: ['M', 'L', 'XL'],
            grey: ['XL', 'XXL'],
            brown: ['XS'],
          },
        },
        {
          category: "men's clothing",
          description: 'Your perfect pack for everyyour everyday',
          id: 6,
          image: 'https://avatars.mds.yandex.net/get-altay/934739/2a0000015ee272b7428f4c45f8e0c13c3b21/XXXL',
          price: 109.95,
          rating: { rate: 3.9, count: 120 },
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            orange: ['XS', 'M', 'XL', 'XXL'],
            pink: ['XL', 'XXL'],
          },
        }, {
          category: "men's clothing",
          description: 'Your perfect pack for everyday use and walks in the forest.',
          id: 7,
          image: 'https://ae04.alicdn.com/kf/H4cb3f15863da41399934ac0bc200f2c1F/-.jpg',
          price: 109.95,
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'L'],
            blue: ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
            purple: ['M', 'L'],
            green: ['XL', 'XXL'],
          },
        },
        {
          category: "men's clothing",
          description: ' to 15 inches) in the padded sleeve, your everyday',
          id: 8,
          image: 'https://ae04.alicdn.com/kf/S7be98d8966aa48e1b787eb931bccf814m/UNIQLO.jpg',
          price: 109.95,
          rating: { rate: 3.9, count: 120 },
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'M', 'L'],
            brown: ['S', 'M', 'XXL'],
            orange: ['M', 'L', 'XL'],
            green: ['XL', 'XXL'],
          },
        },
        {
          category: "men's clothing",
          description: 'Your perfect pack for everyyour everyday',
          id: 9,
          image: 'https://ae04.alicdn.com/kf/S08d1912a976342ef832aa7ef070276baL/2022.jpg_840x1040.jpg',
          price: 109.95,
          rating: { rate: 3.9, count: 120 },
          title: 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
          avaibleColors: {
            black: ['XS', 'L'],
            orange: ['XS', 'M', 'XL', 'XXL'],
            pink: ['XL', 'XXL'],
          },
        },
      ],
      filterInput: '',
      page: 1,
    });
  },
  methods: {},
  computed: {
    startIndex() {
      return (this.page - 1) * 6;
    },
    endIndex() {
      return this.page * 6;
    },
    filteredCards() {
      return [...this.cards].filter((el) => el.title.toLowerCase().includes(this.filterInput));
    },
    paginatedCards() {
      return [...this.filteredCards].slice(this.startIndex, this.endIndex);
    },
    hasNextPage() {
      return this.filteredCards.length > this.endIndex;
    },
  },
  created() {
    axios.get('https://api.escuelajs.co/api/v1/products/?limit=20&price_min=900&price_max=1000').then((res) => {
      res.data.forEach((element) => {
        // eslint-disable-next-line no-param-reassign
        element.avaibleColors = {
          black: ['XS', 'L'],
          blue: ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
          purple: ['M', 'L'],
          green: ['XL', 'XXL'],
        };
      });
      this.cards = [...this.cards, ...res.data].map((el) => assignObject(el));
    });
  },
  components: {
    CardsList,
    VInput,
    VButtonPurple,
  },
};
</script>

<style lang="scss" scoped>
.input-container {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  column-gap: 10px;
}

.fitcha {
  padding: 0 4px;
  &__content {
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}
</style>
