<template>
    <div class="container">

    </div>
</template>

<script>
// import PostList from '@/components/CardsList.vue';

export default {

  methods: {

  },
  computed: {
    myData() {
      return this.$store.getters('resultData');
    },
    doubleCount() {
      return this.$store.getters('doubleCount');
    },
  },
  created() {
    this.$store.dispatch('getDataFromApi');
    this.$store.commit('SET_DATA');
    console.log(this.$store);
    console.log(this.$store.getters);
  },
  components: {

  },
};
</script>

<style lang="scss" scoped>
.container {
  margin-top: 100px;
  text-align: center;
}

p {
  margin-bottom: 30px;
}
.btn {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}
</style>
