<!-- eslint-disable max-len -->
<template>
  <div class="cards-list">
    <OneCard @cardClick="this.$emit('cardClick', oneCard)" v-for="oneCard in CardsArray" :key="oneCard.id"  :infoAboutCard="oneCard" />
  </div>
</template>

<script>
import OneCard from './OneCard.vue';

export default {
  components: {
    OneCard,
  },
  props: {
    CardsArray: Array,
  },
};
</script>

<style>
</style>
