<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<!-- eslint-disable max-len -->
<template>
    <div class="navbar navbar_margin">
        <div class="navbar__container">
            <div class="navbar__content">
                <nav class="navbar__menu menu">
                    <div @click="this.burgerView = !this.burgerView" class="burger">
                        <div class="hamburger-lines">
                            <span class="line line1"></span>
                            <span class="line line2"></span>
                            <span class="line line3"></span>
                        </div>
                    </div>
                    <ul class="menu__list">
                        <a href="/" class="menu__link">Все товары</a>
                        <router-link to="/jawelery" class="menu__link">Jawelary</router-link>
                        <router-link to="mens-clothing" class="menu__link">Men's clothing</router-link>
                        <router-link to="/vuex" class="menu__link">vuex experiment</router-link>
                        <router-link to="/imageStyle" class="menu__link">Image style experiment</router-link>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      burgerView: false,
    };
  },
};
</script>

<style lang="scss" src="../assets/styles/navbar.scss" scoped>
</style>
