<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
<template>
  <div @click="this.$emit('cardClick',infoAboutCard)" class="one-card">
    <div class="one-card__content">
      <div class="one-card__image">
        <img :src="this.infoAboutCard.image" alt='image' class="one-card__img">
      </div>
      <div class="one-card__body">
        <p class="one-card__title">{{ this.infoAboutCard.title }}</p>
        <p class="one-card__text">{{ this.infoAboutCard.description }}</p>
      </div>
      <div class="colors">
        <ColorChoise
        type="button"
        v-for="(oneColor, index) in this.infoAboutCard.avaibleColors"
        :key="index"
        :size="oneColor"
        :colorProp="index"
        @buttonClick = "showSizes"
        />
      </div>
      <div v-if="this.currentSize" class="sizes">
        <p v-for="oneSize of currentSize" :key="oneSize" class="sizes__style">
          {{ oneSize }}
        </p>
      </div>
      <div class="one-card__footer">
        <p class="one-card__price">{{ this.infoAboutCard.price }} $</p>
        <VButtonGreen v-if="buttonBuy" type="button" class="one-card__button">купить</VButtonGreen>
      </div>
    </div>
  </div>
</template>

<script>
import VButtonGreen from '@/UI/VButtonGreen.vue';
import ColorChoise from '@/UI/ColorChoise.vue';

export default {
  data() {
    return {
      colors: [],
      currentSize: [],
      buttonBuy: false,
    };
  },
  components: {
    VButtonGreen,
    ColorChoise,
  },
  props: {
    infoAboutCard: {
      info: String,
      title: String,
      price: Number,
      description: String,
      avaibleColors: Object,
    },
  },
  methods: {
    showSizes(value) {
      this.currentSize = value;
      this.buttonBuy = true;
    },
  },
};
</script>

<styles lang="scss" scoped>
.colors {
  display: flex;
  column-gap: 7px;
  padding-left: 4px;
  margin-bottom: 10px;
}
.one-color-my {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 50%;
}

.sizes {
  align-self: flex-start;
  padding-left: 4px;
  display: flex;
  column-gap: 5px;
  margin-bottom: 5px;
  &__style {
    color: black;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
  }
}
</styles>
