<template>
  <NavBar/>
  <div class="app">
    <router-view></router-view>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue';

export default {
  components: {
    NavBar,
  },
};
</script>

<style src="@/assets/styles/style.scss" lang="scss"></style>
