
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url("../../../public/fonts/Gilroy-Regular.woff2") format("woff2")
  }
//   @font-face {
//     font-family: "Gilroy";
//     font-weight: 500;
//     font-style: normal;
//     font-display: auto;
//     src: url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Regular.woff") format("woff");
//   }
  @font-face {
    font-family: "Gilroy";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: url("../../../public/fonts/Gilroy-Semibold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url("../../../public/fonts/Gilroy-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 900;
    font-style: normal;
    font-display: auto;
    src: url("../../../public/fonts/Gilroy-Black.woff2") format("woff2");
  }