
.navbar{
    &__container{
        max-width: 1200px;
        margin: 0 auto;
    }

    &__content{
        margin-top: 45px;
    }

    &__menu{
       
    }

    &_margin{
        margin-bottom: 30px;
    }
}

.menu{
    background: rgba(250, 251, 253, 0.44);
    border-radius: 10px;
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link{
        cursor: pointer;
        position: relative;
        padding: 41px 12px 41px 12px;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.05;
        transition: all 400ms ease 0s;

        &::after{
            display: none;
            content: '';
            width: 100%;
            background-color: black;
            height: 8px;
            border-radius: 6px;
            position: absolute;
            bottom: 5%;
            left: 0;
            transition: all 900ms ease 0s;
        }

        &:hover{
            background-color: black;
            color: white;

            &::after{
                display: block;
                bottom: -10%;
            }
        }
    }
}

.burger{
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    &__line{
        background-color: black;
        display: block;
        width: 30px;
        height: 2px;
        &::before{
            display: block;
            content: '';
            width: 30px;
            height: 2px;
            background-color: black;
            position: absolute;
            top:-5%;
            
        }
    }
}


@media(max-width: 655px){
    .menu{
        &__list{
            display: none;
        }
    }
    .burger{
        display: block;
    }
}