@import './null.scss';
@import './fonts.scss';

body,html{
    background-color: #e5e5e5;
    font-family: "Gilroy";
}


.wrapper{
    padding: 5px;
    max-width: 1440px;
    margin: 0 auto;
}

.loader{
    // text-align: center;
    // font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 300px;
    background-color: teal;
    border-radius: 50%;
    z-index: 1;
    animation-name: bigCircle;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &::before{
        content: '';
        background-color: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 5;
        transform: translateX(-50%) translateY(-50%);
        animation-name: smallCircle;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@keyframes bigCircle{
    from{
        transform: translateX(-50%) translateY(-50%) scale(1)  rotate(0deg);
    }
    to{
        transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg);
    }
}

@keyframes smallCircle{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.cards-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
    padding: 5px;
}


.one-card{
    flex: 0 0 32%;
    border-radius: 15px;
    background-color: white;
    transition: all 300ms ease 0s;
    &:hover{
        box-shadow: 0px 16.0566px 22px -8px rgba(82, 73, 131, 0.1), 0px 8.02828px 8.02828px -4.01414px rgba(26, 32, 44, 0.04);
        img{
            opacity: 0.6;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__image{

        max-width: 100%;
        height: 400px;
       
        &:not(:last-child){
            margin-bottom: 15px;
        }

    }
    
    &__img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    &__body{
        flex: 1 1 auto;
        padding: 0 5px 0 5px;
        margin-bottom: 20px;

    }

    &__title{
        font-size: 24px;
        line-height: 1.05;
        font-weight: 600;
        &:not(:last-child){
            margin-bottom: 12px;
        }
    }

    &__text{
        min-width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.055;

        &:not(:last-child){
            margin-bottom: 15px;
        }
    }

    &__footer{
        padding: 0 8px 15px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price{
        font-weight: 900;
        font-size: 25px;
    }
}


.fitch{
    &__content{
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        column-gap: 5px;
        row-gap: 15px;
        flex-wrap: wrap;       
        margin-bottom: 20px;

    }
}


.modal{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.428);
    position: fixed;
    &__content{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
      max-width: 300px;
      background-color: white;
      border-radius: 15px;
    }

    &__image{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        max-height: 300px;
        margin-bottom: 20px;
    }

    &__title{
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }

    &__price{
        font-size: 2em;
        text-align: center;
    }

  
}


@media(max-width: 900px){
    .one-card{
        flex: 1 0 48%;
    }
}


@media(max-width: 632px){
    .one-card{
        flex: 1 0 50%;
    }
}

@media (max-width: 372px) {

    .v-input {
        flex: 1 1 auto;
      order: -1;
    }
    .select-container{
        flex: 1 1 auto;
    }
  }